
/* My Style Below */
.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.content {
  padding-right: 2em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  max-height: 100vh;
  /* border: 10px solid peachpuff; */
}

.content-items {
  /* border: 5px dotted turquoise; */
}

.content-item1 {
  /* order: 1; */
  grid-row: span 2;
}

.content-item1 {
  /* order: 2; */
}

.content-item1 {
  /* order: 3; */
}